---
import Button from "../../components/Button.astro";
import Project from "../../components/Project.astro";
import Service from "../../components/Service.astro";
import Code from "../../components/svg/Code.astro";
import Design from "../../components/svg/Design.astro";
import Smartphone from "../../components/svg/Smartphone.astro";
import Layout from "../../layouts/Layout.astro";
import ContactCTA from "../../components/ContactCTA.astro";
import { changeLanguage, setDefaultNamespace, t } from "i18next";

changeLanguage("da");

setDefaultNamespace("home");
---

<Layout title={t("header.title")} description={t("header.description")}>
  <section class="hero">
    <div class="content">
      <div class="headlines">
        <h1>{t("title")}</h1>
        <h2>{t("subtitle")}</h2>
      </div>
      <div>
        <p>{t("p.one")}</p>
        <p>{t("p.two")}</p>
      </div>
      <div class="buttons">
        <Button href="/contact" arrow={true} primary>
          {t("cta-buttons.primary")}
        </Button>
        <Button href="/services" secondary>
          {t("nav.services", { ns: "common" })}
        </Button>
      </div>
    </div>
    <img loading="eager" src="./assets/img/profile.png" alt="" />
  </section>

  <section class="services">
    <h2>{t("nav.services", { ns: "common" })}</h2>
    <div class="service-cards">
      <Service header={t("services.development.title", { ns: "services" })}>
        <Code />
      </Service>
      <Service header={t("services.maintenance.title", { ns: "services" })}>
        <Design />
      </Service>
      <Service header={t("services.responsive.title", { ns: "services" })}>
        <Smartphone />
      </Service>
    </div>
    <div class="buttons">
      <Button href="/services" primary>
        {t("nav.more", { ns: "common" })}
      </Button>
    </div>
  </section>

  <section class="projects">
    <h2>{t("projects.title")}</h2>
    <Project
      img="/assets/img/projects/adhd-konsulent.jpg"
      href="https://adhd-konsulent.dk"
      name="ADHD Konsulent"
      services={[
        t("projects.category.design"),
        t("projects.category.development"),
        t("projects.category.hosting"),
      ].join(", ")}
    />
  </section>
  <ContactCTA />
</Layout>

<style lang="scss">
  .hero {
    // align-items: center;
    text-align: left;
    gap: 30px;
    display: grid;
    grid-template-columns: 3fr 2fr;

    & .content {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    & img {
      max-width: 100%;
      justify-self: center;
    }

    & h1 {
      font-weight: 700;
    }

    & h2 {
      font-size: 24px;
      font-weight: 500;
      color: var(--accent-primary);
    }

    & p {
      max-width: 600px;
      color: var(--grey);
    }

    @media (max-width: 700px) {
      & {
        grid-template-columns: 1fr;
      }

      & img {
        max-width: min(300px, 100%);
      }

      & h1 {
        font-size: 32px;
        font-weight: 900;
      }
      & h2 {
        font-size: 20px;
      }
    }
  }

  .services {
    & .service-cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      width: 100%;
      justify-items: center;
      gap: 30px;

      @media (max-width: 900px) {
        grid-template-columns: 1fr;
      }
    }
  }

  .projects {
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;

    // uncomment this to make grid for multiple projects
    // grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  // General container with more than one button
  .buttons {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 20px;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
</style>
