---
---

<div class="hamburger">
  <div class="hamburger-bar first"></div>
  <div class="hamburger-bar second"></div>
  <div class="hamburger-bar third"></div>
</div>

<style>
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
    padding: 10px;
    width: var(--navbar-height);
    cursor: pointer;
    z-index: 5;
  }

  .showMenu {
  }

  .hamburger-bar {
    background-color: var(--dark);
    height: 5px;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
  }

  .showMenu .hamburger-bar {
    background-color: var(--accent-primary);
  }

  .showMenu .first {
    transform: translateY(10px) rotate(225deg);
  }

  .showMenu .second {
    opacity: 0;
  }

  .showMenu .third {
    transform: translateY(-10px) rotate(-225deg);
  }

  @media (min-width: 700px) {
    .hamburger {
      display: none;
    }
  }
</style>
