---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <h1>Ups!</h1>
    <p>Det ser ud som om noget gik galt</p>
    <p>Prøv venligst igen senere, eller gå til forsiden</p>
    <Button href="/" primary>Til Forsiden</Button>
  </section>
</Layout>
