---
import { changeLanguage, setDefaultNamespace, t } from "i18next";
import ExternalLink from "../components/navigation/ExternalLink.astro";
import Tooltip from "../components/Tooltip.astro";
import Layout from "../layouts/Layout.astro";
import { Trans, LanguageSelector } from "astro-i18next/components";

changeLanguage("en");

setDefaultNamespace("about");
---

<Layout title={t("header.title")} description={t("header.description")}>
  <section class="main">
    <h1>{t("title")}</h1>
    <div>
      <div class="content">
        <p>
          {t("paragraph-one.part-one")}
          <Tooltip
            name="Godot"
            img="/assets/tech-icons/godot.svg"
            tooltip={t("tooltip.godot")}
          />{t("paragraph-one.part-two")}
          <Tooltip
            name="Python"
            img="/assets/tech-icons/python.svg"
            tooltip={t("tooltip.python")}
          />{t("paragraph-one.part-three")}
          <Tooltip
            name="JavaScript"
            img="/assets/tech-icons/js.svg"
            tooltip={t("tooltip.javascript")}
          />.
        </p>
        <p>
          {t("paragraph-two.part-one")}
          <Tooltip
            name="Guangzhou"
            img="/assets/tech-icons/js.svg"
            tooltip={t("tooltip.guangzhou")}
          />{t("paragraph-two.part-two")}
        </p>
      </div>
    </div>
    <div class="profile">
      <img src="/assets/img/profile.png" alt="Kristian profile" />
    </div>
  </section>
</Layout>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    & .content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: left;
      max-width: 700px;
      line-height: 1.5;
    }

    & a {
      color: var(--dark);
    }

    & .profile {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 30px 0;

      & img {
        object-fit: contain;
        margin: auto;
        width: 300px;
      }
    }
  }
</style>
