---
import { changeLanguage, setDefaultNamespace, t } from "i18next";
import Layout from "../layouts/Layout.astro";
import { localizeUrl } from "astro-i18next";
import Button from "../components/Button.astro";
import ContactForm from "../components/ContactForm.astro";

changeLanguage("en");

setDefaultNamespace("contact");
---

<Layout title={t("header.title")} description={t("header.description")}>
  <section>
    <div>
      <h1>{t("title")}</h1>
      <h2>{t("subtitle")}</h2>
    </div>
    <ContactForm />
  </section>
</Layout>

<style lang="scss">
  h2 {
    font-size: 14px;
  }
</style>
