---
import { localizePath } from "astro-i18next";
interface Props {
  href?: string;
  localizeHref?: boolean;
  primary?: boolean;
  secondary?: boolean;
  style?: object;
  arrow?: boolean;
  analyticsClass?: string;
  sendFormButton?: boolean;
}
const {
  href,
  primary,
  secondary,
  style,
  arrow,
  localizeHref = true,
  analyticsClass,
  sendFormButton = false,
} = Astro.props;

// button href will be localized by default, meaning that "/contact", will become "/da/contact" & "/zh/contact" etc. when needed
---

{
  sendFormButton ? (
    <button class="button secondary submit" type="submit">
      <slot />
    </button>
  ) : (
    <a
      href={localizeHref ? localizePath(href) : href}
      class:list={[
        "button",
        { primary, secondary },
        analyticsClass && `plausible-event-name=${analyticsClass}`,
      ]}
      style={style}
    >
      <slot />
      {arrow && <>&rarr;</>}
    </a>
  )
}

<style lang="scss">
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    height: 50px;
    border-radius: 20px;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    font-weight: 700;
    padding: 3px 10px;
    border: 2px solid transparent;

    &:active {
      transform: scale(0.9);
    }
  }

  .primary {
    background-color: var(--dark);
    color: var(--white);

    &:hover,
    &:focus {
      background-color: var(--lightdark);
    }
  }

  .secondary {
    background-color: var(--white);
    border: solid 2px var(--dark);
    color: var(--dark);

    &:hover,
    &:focus {
      color: var(--accent-secondary);
    }
  }

  .submit {
    font-size: 16px;
    align-self: flex-start;
    cursor: pointer;

    @media (max-width: 700px) {
      align-self: center;
    }
  }
</style>
