---
import { localizePath } from "astro-i18next";
interface Props {
  href: string;
  localizeHref?: boolean;
  primary?: boolean;
  secondary?: boolean;
  style?: object;
  arrow?: boolean;
}
const {
  href,
  primary,
  secondary,
  style,
  arrow,
  localizeHref = true,
} = Astro.props;
---

<!-- button href will be localized by default, meaning that "/contact", will become "/da/contact" & "/cn/contact" etc. when needed -->
<a
  href={localizeHref ? localizePath(href) : href}
  class:list={["button", { primary, secondary }]}
  style={style}
>
  <slot />
  {arrow && <>&rarr;</>}
</a>

<style lang="scss">
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    height: 50px;
    border-radius: 20px;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
    font-weight: 700;
    padding: 3px 10px;
    border: 2px solid transparent;

    &:hover,
    &:focus {
      transform: scale(1.1);
      border-color: var(--accent-primary);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .primary {
    background-color: var(--dark);
    color: var(--white);

    @media (max-width: 700px) {
      border-color: var(--accent-primary);
    }
  }
  .secondary {
    background-color: var(--white);
    border: solid 2px var(--dark);
    color: var(--dark);
  }
</style>
