---
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tak for din henvendelse">
  <section>
    <h1>Tak for din henvendelse!</h1>
    <p>Du vil blive kontaktet via din angivne e-mail adresse snarest muligt.</p>
    <Button href="/" primary>Tilbage</Button>
  </section>
</Layout>
